<div class="container">
    <div class="p-3 mb-2 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h5 class="display-5 fw-bold">Orders Dashboard</h5>
        <!-- <div class="d-flex justify-content-end " >
          <button type="button" class="btn btn-sm btn-dark" (click)="openModal(driversModal)">Add New</button>
        </div> -->
        
        <table class="table table-hover">
         
          <thead>
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Order Date</th>
              <th scope="col">User Id</th>
              <th scope="col">Restaurant Id</th>
              <th scope="col">Order Total</th>
              <th scope="col">Order Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let order of this.ordersList">
            <tr>
              <td>{{order.orderId}}</td>
              <td>{{order.orderDate | date}}</td>
              <td>{{order.userId.userId}}</td>
              <td>{{order.restaurantId.restaurantId}}</td>
              <td>{{order.orderTotal |currency}}</td>
              <td>{{order.orderStatus}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-dark me-1" >Update</button>
                <button type="button" class="btn btn-sm btn-danger me-1" >Delete</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- <ng-template #driversModal let-model>
  <app-adddrivers [driverInfo]="driverInfo" (closeModel)="closeModal(driversModal)"></app-adddrivers>
</ng-template> -->



